Let's brainstorm what we want to do.
I want to go 1 neuron at a time.

Find only true entries (there should be 85 unique root id's that have myelin = true)

Start with "tag == t" list.
#go through one by one each row of the list.

Okay, to start, let's do all for this neuron: 
139  864691136021592568           46             25        BC


How to save:
pandas dataframe object.
Columns:
pt_root_id
pt_position
myelin: 1 or 0.
image_unwr: ndarray
image: ndarray
contour_length

In [2]:
import numpy as np
import pandas as pd
from caveclient import CAVEclient

In [3]:
client = CAVEclient('minnie65_public')
client.version = 1412
myelin_df = client.materialize.query_table('vortex_manual_myelination_v0')

Table Owner Notice on vortex_manual_myelination_v0: Myelination status assessed for the axon of the VALID_ID, not the pt_root_id.

In [ ]:
#start with just 1 neuron.
pt_root_id = 864691136021592568

#Get all manual myelin entries for this neuron.
myelin_neur_df = myelin_df[myelin_df["pt_root_id"] == 864691136021592568]

#Get the skeleton for this neuron.
sk_df = client.skeleton.get_skeleton(pt_root_id, output_format='swc')

for idx, row in myelin_neur_df.iterrows():
    ctr = row["pt_position"]
    tag = row["tag"]
    plane = pick_normal_plane(ctr, sk_df)

,id,created,superceded_id,valid,tag,valid_id,pt_supervoxel_id,pt_root_id,pt_position
4552,54442,2024-12-17 23:18:34.273120+00:00,NaN,t,t,864691136021592568,89315941334331579,864691136021592568,"[178504, 194840, 18580]"
4553,54443,2024-12-17 23:18:34.273709+00:00,NaN,t,f,864691136021592568,89315941267603446,864691136021592568,"[178552, 194832, 18421]"
4554,54444,2024-12-17 23:18:34.274325+00:00,NaN,t,t,864691136021592568,89315941334322682,864691136021592568,"[178640, 194776, 18573]"
4555,54445,2024-12-17 23:18:34.275093+00:00,NaN,t,f,864691136021592568,89315872548099914,864691136021592568,"[178656, 194592, 18396]"
4556,54446,2024-12-17 23:18:34.275680+00:00,NaN,t,t,864691136021592568,89315941334335975,864691136021592568,"[178448, 194888, 18582]"
4557,54447,2024-12-17 23:18:34.276269+00:00,NaN,t,f,864691136021592568,89315941267605614,864691136021592568,"[178584, 194768, 18417]"
4558,54448,2024-12-17 23:18:34.276868+00:00,NaN,t,t,864691136021592568,89245572590141625,864691136021592568,"[178176, 194960, 18582]"
4559,54449,2024-12-17 23:18:34.277564+00:00,NaN,t,t,864691136021592568,89315941334343666,864691136021592568,"[178352, 194960, 18592]"
4560,54450,2024-12-17 23:18:34.278187+00:00,NaN,t,f,864691136021592568,89315872548098722,864691136021592568,"[178672, 194592, 18398]"
4561,54451,2024-12-17 23:18:34.278767+00:00,NaN,t,f,864691136021592568,89315941267611303,864691136021592568,"[178536, 194888, 18426]"
4562,54452,2024-12-17 23:18:34.279361+00:00,NaN,t,t,864691136021592568,89456610103148835,864691136021592568,"[179392, 194440, 18536]"
4563,54453,2024-12-17 23:18:34.279937+00:00,NaN,t,t,864691136021592568,89386241359023977,864691136021592568,"[178832, 194712, 18564]"
4564,54454,2024-12-17 23:18:34.280534+00:00,NaN,t,f,864691136021592568,89315872548111168,864691136021592568,"[178600, 194672, 18404]"
4565,54455,2024-12-17 23:18:34.281127+00:00,NaN,t,f,864691136021592568,89315872548080980,864691136021592568,"[178640, 194544, 18382]"
4566,54456,2024-12-17 23:18:34.281725+00:00,NaN,t,t,864691136021592568,89386241359011532,864691136021592568,"[179056, 194616, 18549]"
4567,54457,2024-12-17 23:18:34.282454+00:00,NaN,t,t,864691136021592568,89386241359004505,864691136021592568,"[179008, 194656, 18554]"
4568,54458,2024-12-17 23:18:34.283059+00:00,NaN,t,f,864691136021592568,89315941334175924,864691136021592568,"[178440, 195072, 18440]"
4569,54459,2024-12-17 23:18:34.283641+00:00,NaN,t,t,864691136021592568,89386241358997908,864691136021592568,"[179112, 194576, 18545]"
4570,54460,2024-12-17 23:18:34.284231+00:00,NaN,t,t,864691136021592568,89315941334326045,864691136021592568,"[178576, 194816, 18577]"
4571,54461,2024-12-17 23:18:34.284805+00:00,NaN,t,t,864691136021592568,89315941334335088,864691136021592568,"[178400, 194920, 18587]"
5329,54462,2024-12-17 23:18:34.285385+00:00,NaN,t,t,864691136021592568,89456610103132667,864691136021592568,"[179672, 194336, 18526]"
5330,54463,2024-12-17 23:18:34.285954+00:00,NaN,t,t,864691136021592568,89245572590139826,864691136021592568,"[178192, 194944, 18578]"
5331,54464,2024-12-17 23:18:34.286554+00:00,NaN,t,t,864691136021592568,89456610103152679,864691136021592568,"[179320, 194472, 18539]"
5332,54465,2024-12-17 23:18:34.287150+00:00,NaN,t,f,864691136021592568,89315941267633313,864691136021592568,"[178496, 194896, 18431]"
5333,54466,2024-12-17 23:18:34.287730+00:00,NaN,t,f,864691136021592568,89315872548086844,864691136021592568,"[178608, 194592, 18388]"
5334,54467,2024-12-17 23:18:34.288323+00:00,NaN,t,t,864691136021592568,89386241359014578,864691136021592568,"[178960, 194704, 18559]"
5335,54468,2024-12-17 23:18:34.288931+00:00,NaN,t,t,864691136021592568,89386241359014565,864691136021592568,"[178752, 194688, 18565]"
5336,54469,2024-12-17 23:18:34.289561+00:00,NaN,t,t,864691136021592568,89245572590151444,864691136021592568,"[178136, 194976, 18589]"
5337,54470,2024-12-17 23:18:34.290647+00:00,NaN,t,t,864691136021592568,89386241359008939,864691136021592568,"[178904, 194744, 18563]"
5338,54471,2024-12-17 23:18:34.291277+00:00,NaN,t,f,864691136021592568,89315872548052315,864691136021592568,"[178720, 194464, 18372]"
5339,54472,2024-12-17 23:18:34.291872+00:00,NaN,t,f,864691136021592568,89315941334174045,864691136021592568,"[178480, 195008, 18438]"
5340,54473,2024-12-17 23:18:34.292463+00:00,NaN,t,t,864691136021592568,89315872614846497,864691136021592568,"[178704, 194736, 18570]"
5341,54474,2024-12-17 23:18:34.293057+00:00,NaN,t,f,864691136021592568,89315872548093572,864691136021592568,"[178600, 194600, 18390]"
5342,54475,2024-12-17 23:18:34.293639+00:00,NaN,t,t,864691136021592568,89456610103137136,864691136021592568,"[179600, 194360, 18529]"
5343,54476,2024-12-17 23:18:34.294228+00:00,NaN,t,f,864691136021592568,89315872548102120,864691136021592568,"[178584, 194648, 18397]"
5344,54477,2024-12-17 23:18:34.294797+00:00,NaN,t,f,864691136021592568,89315872548072646,864691136021592568,"[178680, 194504, 18377]"
5345,54478,2024-12-17 23:18:34.295383+00:00,NaN,t,t,864691136021592568,89456610103155115,864691136021592568,"[179248, 194504, 18541]"
5346,54479,2024-12-17 23:18:34.295951+00:00,NaN,t,t,864691136021592568,89456610103141364,864691136021592568,"[179520, 194368, 18530]"
5347,54480,2024-12-17 23:18:34.296565+00:00,NaN,t,t,864691136021592568,89456610103144594,864691136021592568,"[179448, 194392, 18531]"
5348,54481,2024-12-17 23:18:34.297153+00:00,NaN,t,t,864691136021592568,89386241359006259,864691136021592568,"[179168, 194528, 18542]"
5349,54482,2024-12-17 23:18:34.297850+00:00,NaN,t,f,864691136021592568,89315941334135865,864691136021592568,"[178464, 194944, 18435]"
5350,54483,2024-12-17 23:18:34.298438+00:00,NaN,t,f,864691136021592568,89315872548115189,864691136021592568,"[178600, 194720, 18411]"
5351,54484,2024-12-17 23:18:34.299036+00:00,NaN,t,f,864691136021592568,89315941267627949,864691136021592568,"[178512, 194968, 18433]"
5352,54485,2024-12-17 23:18:34.299620+00:00,NaN,t,f,864691136021592568,89315941267633313,864691136021592568,"[178528, 194912, 18428]"
33971,235,2024-06-01 20:25:55.535866+00:00,NaN,t,f,864691135808631069,90161122715733334,864691136021592568,"[184566, 200834, 22848]"
50686,10775,2024-06-01 20:26:41.938980+00:00,NaN,t,f,864691135808631069,90090822691071366,864691136021592568,"[184322, 200974, 22864]"